<div class="container-fluid">
  <app-page-title title="Listado de Planificaciones"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Planificacion</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" [routerLink]="['/planning/new']"
                routerLinkActive="router-link-active">Nueva Planificacion</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <h1 *ngIf="!hasPlanning">Sin Planificaciones</h1>
            <table *ngIf="hasPlanning" class="table align-middle dt-responsive nowrap w-100 table-check" id="job-list">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of planning">
                  <td>{{data.name}}</td>
                  <td>{{getStatus(data.status)}}</td>

                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info"
                          (click)="editDataGet(content, i)"><i class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger"
                          (click)="deleteUser(i)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Crear Sucurrsal</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
  </div>
  <form [formGroup]="PlanningListForm">
    <div class="modal-body">
      <div class="mb-3">
        <label for="customername-field" class="form-label">Sucursal</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="sucursal"
          [ngClass]="{ 'is-invalid': submitted && form['title'].errors }" />
        <div *ngIf="submitted && form['sucursal'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['sucursal'].errors['required']">Nombre es requerid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="payment-field" class="form-label">Estado</label>
        <select class="form-control" data-trigger name="payment-method" id="payment-field" formControlName="status"
          [ngClass]="{ 'is-invalid': submitted && form['type'].errors }">
          <option value="">Seleccione un estado</option>
          <option value="mantenimiento">Activa</option>
          <option value="instalacion">Inactiva</option>
          <option value="reparación">Borrada</option>
        </select>
        <div *ngIf="submitted && form['status'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['status'].errors['required']">Tipo es requerida</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Nombre de Contacto</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="contactName"
          [ngClass]="{ 'is-invalid': submitted && form['contactName'].errors }" />
        <div *ngIf="submitted && form['contactName'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactName'].errors['required']">Nombre de Contacto es requerida</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Numero de Contacto</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="contactNumber"
          [ngClass]="{ 'is-invalid': submitted && form['contactNumber'].errors }" />
        <div *ngIf="submitted && form['contactNumber'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactNumber'].errors['required']">Numero de Contacto es requerida</div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="remember-check" formControlName="contactHasWhatsapp">
          <label class="form-check-label" for="remember-check">
            Tiene Whatsapp?
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
          (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-success" id="add-btn">Guardar</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->
