.months {
    padding-bottom: 10px;
    font-size: 20px;
}

.loadTemplateBtn {
    margin-left: 10%;
}

.amonth {
    padding-bottom: 20px;
    padding-left: 10px;
    border-radius: 22px;
    background: rgb(143, 142, 142);
    color: white;
}

.templateForm {
    padding: 20px;
}

.multipleSelection {
    height: 200px;
}