<div class="container-fluid">
  <app-page-title title="Lista de Trabajadores" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Listo de Trabajadores</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(content)">Crear Trabajador</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="job-list">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Cedula</th>
                  <th scope="col">Contacto</th>
                  <th scope="col">rol</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of lists; let i = index;">
                  <td>{{data.nombre}} {{data.apellido}}</td>
                  <td>{{data.username}}</td>
                  <td>{{data.cedula}}</td>
                  <td>{{data.contacto}}</td>
                  <td>{{data.rol}}</td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="editDataGet(content, i)"><i class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="deleteUser(i)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Crear Trabajador</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef?.hide()"></button>
  </div>
  <form (ngSubmit)="saveUser()" [formGroup]="userForm">
    <div class="modal-body">
      <div class="mb-3">
        <label for="customername-field" class="form-label">Nombre</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && form['nombre'].errors }" />
        <div *ngIf="submitted && form['nombre'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['nombre'].errors['required']">Nombre es requerido</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Apellido</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="apellido" [ngClass]="{ 'is-invalid': submitted && form['apellido'].errors }" />
        <div *ngIf="submitted && form['apellido'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['apellido'].errors['required']">Apellido es requerido</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Nombre de Contacto</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="contacto" [ngClass]="{ 'is-invalid': submitted && form['contacto'].errors }" />
        <div *ngIf="submitted && form['contacto'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contacto'].errors['required']">Nombre de Contacto es requerida</div>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="customername-field" class="form-label">Cedula</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="cedula" [ngClass]="{ 'is-invalid': submitted && form['cedula'].errors }" />
        <div *ngIf="submitted && form['cedula'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['cedula'].errors['required']">Cedula es requerida</div>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="customername-field" class="form-label">Nombre de Usuario</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="username" [ngClass]="{ 'is-invalid': submitted && form['username'].errors }" />
        <div *ngIf="submitted && form['username'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['username'].errors['required']">Nombre de Usuario es requerida</div>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="customername-field" class="form-label">Contraseña</label>
        <input type="password" id="customername-field" class="form-control" required formControlName="password" [ngClass]="{ 'is-invalid': submitted && form['password'].errors }" />
        <div *ngIf="submitted && form['password'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['password'].errors['required']">Contraseña es requerida</div>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="payment-field" class="form-label">Rol</label>
        <select class="form-control" data-trigger name="payment-method" id="payment-field" formControlName="rol" [ngClass]="{ 'is-invalid': submitted && form['rol'].errors }">
          <option value="">Seleccione un Tipo</option>
          <option value="tecnico">Tecnico</option>
          <option value="cliente">Cliente</option>
          <option value="admin">Admin</option>
        </select>
        <div *ngIf="submitted && form['rol'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['rol'].errors['required']">Tipo es requerida</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modalRef?.hide()">Close</button>
        <button type="submit" class="btn btn-success" id="add-btn">Guardar</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->