<div class="container-fluid">
  <app-page-title title="Lista de Tareas" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Lista de Tareas</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(content)">Crear Tareas</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="job-list">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Tipo de Ticket</th>
                  <th scope="col">Nombre de Contacto</th>
                  <th scope="col">Numero de Contacto</th>
                  <th scope="col">Tiene Whatsapp?</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of lists">
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.description}}</td>
                  <td>{{data.ticketTypeId}}</td>
                  <td>{{data.contactName}}</td>
                  <td>{{data.contactNumber}}</td>
                  <td>
                    <div class="form-check font-size-16">
                      <input disabled id="customCheck" type="checkbox" class="form-check-input" [(ngModel)]="data.contactHasWhatsapp" />
                      <label class="form-check-label" for="customCheck">&nbsp;</label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Crear Tarea</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef?.hide()"></button>
  </div>
  <form (ngSubmit)="saveUser()" [formGroup]="jobListForm">
    <div class="modal-body">
      <div class="mb-3">
        <label for="customername-field" class="form-label">Descripción</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="description" [ngClass]="{ 'is-invalid': submitted && form['title'].errors }" />
        <div *ngIf="submitted && form['description'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['description'].errors['required']">Descripción es requerida</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="payment-field" class="form-label">Tipo de Ticket</label>
        <select class="form-control" data-trigger name="payment-method" id="payment-field" formControlName="ticketTypeId" [ngClass]="{ 'is-invalid': submitted && form['type'].errors }">
          <option value="">Seleccione un Tipo</option>
          <option value="3fa85f64-5717-4562-b3fc-2c963f66afa6">Mantenimiento</option>
          <option value="3fa85f64-5717-4562-b3fc-2c963f66afa6">Instalación</option>
          <option value="3fa85f64-5717-4562-b3fc-2c963f66afa6">Reparación</option>
        </select>
        <div *ngIf="submitted && form['ticketTypeId'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['ticketTypeId'].errors['required']">Tipo es requerida</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Nombre de Contacto</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="contactName" [ngClass]="{ 'is-invalid': submitted && form['contactName'].errors }" />
        <div *ngIf="submitted && form['contactName'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactName'].errors['required']">Nombre de Contacto es requerida</div>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="customername-field" class="form-label">Numero de Contacto</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="contactNumber" [ngClass]="{ 'is-invalid': submitted && form['contactNumber'].errors }" />
        <div *ngIf="submitted && form['contactNumber'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactNumber'].errors['required']">Numero de Contacto es requerida</div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="remember-check" formControlName="contactHasWhatsapp">
          <label class="form-check-label" for="remember-check">
            Tiene Whatsapp?
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-success" id="add-btn">Guardar</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->