<div class="container-fluid">
    <app-page-title title="Nueva Planificacion"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0 card-title flex-grow-1">Seleccion de Plantilla</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="months" *ngFor="let item of months">
                        <div class="col amonth">
                            <div class="d-flex flex-row">

                                <div class="p-2">{{formatString(item.month)}}</div>

                            </div>

                            <button (click)="openModal(content,item)" class="btn btn-primary loadTemplateBtn"><i
                                    class="bx bxs-file-plus"></i> Seleccionar
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Order Create Model template -->
<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccionar plantilla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modalRef?.hide()"></button>
    </div>
    <form class="form2" (ngSubmit)="savePlanning()" [formGroup]="PlanningListForm">

        <label>Plantilla</label>
        <select formControlName="selectedTemplate" class="form-select" size="3" aria-label="size 3 select example">
            <option (click)="getBranches(0)" selected>Ninguno</option>
            <option (click)="getBranches(items.id)" *ngFor="let items of planificacion" value="{{items.id}}">
                {{items.name}}
            </option>
        </select>
        <br>
        <h3 *ngIf="isAnyTemplateSelected">Mes: <span>{{selectedMonth.month}}</span></h3>
        <br>
        <div *ngIf="!isAnyTemplateSelected" style="width: 100%;text-align: center;">
            <span class="material-symbols-outlined">
                linked_services
            </span>
            <br>
            <small>Selecciona una plantilla</small>
        </div>
        <table *ngIf="isAnyTemplateSelected" class="planTable">
            <tr>
                <th>Sucursal</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Brigada</th>
            </tr>
            <tr *ngFor="let item of SelectedTemplateBranches">
                <td>{{item.sucursal}}</td>
                <td>
                    <select #fromday  name="fromDay"  id="fromDay" (change)="onfromDaySelected(item.id, fromday.value)">
                        <option></option>
                        <option  *ngFor="let day of monthDays"  value="{{day}}">{{day}}</option>
                    </select>
                </td>
                <td>
                    <select #today name="toDay" id="toDay" (change)="onToDaySelected(today.value)">
                        <option></option>
                        <option *ngFor="let day of monthDays" value="{{day}}">{{day}}</option>
                    </select>
                </td>
                <td>
                    <select #brigades name="brigade" id="brigade" (change)="onBrigadeSelected(brigades.value)">
                        <option></option>
                        <option (click)="getBranches(items.id)" *ngFor="let brig of brigade" value="{{brig.id}}">
                            {{brig.name}}</option>
                    </select>
                </td>
            </tr>
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Seleccionar</button>



    </form>
</ng-template>
<!--End Modal -->