.months {
    padding-bottom: 10px;
    font-size: 20px;
}

.loadTemplateBtn {
    margin-left: 10%;
}

.amonth {
    padding-bottom: 20px;
    padding-left: 10px;
    border-radius: 22px;
    background: rgb(143, 142, 142);
    color: white;
}

.form2 {
    padding: 25px;
}

.planTable {
    width: 100%;
    border: 1px solid black;
}

.r540 {
    margin-top: 21px;
}

.material-symbols-outlined {
    font-size: 87px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}