<div class="container-fluid">
    <app-page-title title="Nueva Planificacion"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0 card-title flex-grow-1">Seleccion de Plantilla</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="months" *ngFor="let item of months">
                        <div class="col amonth">
                            <div class="d-flex flex-row">

                                <div class="p-2">{{formatString(item.month)}}</div>

                            </div>

                            <button (click)="openModal(content)" class="btn btn-primary loadTemplateBtn"><i
                                    class="bx bxs-file-plus"></i> Seleccionar
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Order Create Model template -->
<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccionar plantilla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
    </div>
    <form class="form2" (ngSubmit)="savePlanning()" [formGroup]="PlanningListForm">

        <label>Plantilla</label>
        <select class="form-select" size="3" aria-label="size 3 select example">
            <option selected>Ninguno</option>
            <option *ngFor="let items of planificacion" value="{{items.id}}">{{items.name}}</option>
        </select>
        <br>
        <label>Brigada</label>
        <select class="form-select" size="3" aria-label="size 3 selects examples">
            <option selected>Ninguno</option>
            <option *ngFor="let item of brigade" value="{{item.id}}">{{item.name}}</option>
        </select>

        <!-- <div class="col">
            <label>Desde</label>
            <input type="date" class="form-control" placeholder="First name" aria-label="First name">
        </div> -->

        <input type="text" name="datefilter" value="" />

        <script type="text/javascript">
            $(function () {

                $('input[name="datefilter"]').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });

                $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                });

                $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                });

            });
        </script>
        <div class="col">
            <label>Hasta</label>
            <input type="date" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
        <button type="submit" class="btn btn-primary">Seleccionar</button>



    </form>
</ng-template>
<!--End Modal -->