<div class="container-fluid">
  <app-page-title title="Lista de Sucursales"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Lista de Sucursales</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(content)">Crear Sucursal</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="job-list">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Encargado</th>
                  <th scope="col">Numero de Contacto</th>
                  <th scope="col">Tiene Whatsapp?</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of branches">
                  <td>{{data.sucursal}}</td>
                  <td>{{data.status}}</td>
                  <td>{{data.contactName}}</td>
                  <td>{{data.contactNumber}}</td>
                  <td>
                    <div class="form-check font-size-16">
                      <input disabled id="customCheck" type="checkbox" class="form-check-input"
                        [(ngModel)]="data.contactHasWhatsapp" />
                      <label class="form-check-label" for="customCheck">&nbsp;</label>
                    </div>
                  </td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info"
                          (click)="editDataGet(content, i)"><i class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger"
                          (click)="deleteUser(i)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Crear Trabajador</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modalRef?.hide()"></button>
  </div>
  <form (ngSubmit)="saveUser()" [formGroup]="userForm">
    <div class="modal-body">
      <div class="mb-3">
        <label for="customername-field" class="form-label">sucursal</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="sucursal"
          [ngClass]="{ 'is-invalid': submitted && form['sucursal'].errors }" />
        <div *ngIf="submitted && form['sucursal'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['sucursal'].errors['required']">sucursal es requerido</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">longitude</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="longitude"
          [ngClass]="{ 'is-invalid': submitted && form['longitude'].errors }" />
        <div *ngIf="submitted && form['longitude'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['longitude'].errors['required']">longitude es requerido</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">longitude</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="longitude"
          [ngClass]="{ 'is-invalid': submitted && form['longitude'].errors }" />
        <div *ngIf="submitted && form['longitude'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['longitude'].errors['required']">Nombre de longitude es requerida</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">contactName</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="contactName"
          [ngClass]="{ 'is-invalid': submitted && form['contactName'].errors }" />
        <div *ngIf="submitted && form['contactName'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactName'].errors['required']">contactName es requerida</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">contactNumber</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="contactNumber"
          [ngClass]="{ 'is-invalid': submitted && form['contactNumber'].errors }" />
        <div *ngIf="submitted && form['contactNumber'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactNumber'].errors['required']">contactNumber es requerida</div>
        </div>
      </div>




    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modalRef?.hide()">Close</button>
        <button type="submit" class="btn btn-success" id="add-btn">Guardar</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->