<div class="container-fluid">
  <app-page-title title="Listado de Inventario"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Inventario</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(content)">Crear Inventario</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="job-list">
              <thead>
                <tr>
                  <th scope="col">Codigo</th>
                  <th scope="col">Equipo</th>
                  <th scope="col">Sucursal</th>
                  <th scope="col">Ubicacion Interna</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Capacidad</th>
                  <th scope="col">Refrigerantes</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of Inventory">
                  <td>{{data.itemCode}}</td>
                  <td>{{data.serial}}</td>
                  <td>{{data.sucursal}}</td>
                  <td>{{data.ubicacionInterna}}</td>
                  <td>{{getStatusLabel(data.status)}}</td>
                  <td>{{data.marca}}</td>
                  <td>{{data.capacidad}}</td>
                  <td>
                    {{data.refrigerante}}
                  </td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info"
                          (click)="editDataGet(content, i)"><i class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger"
                          (click)="deleteUser(i)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Crear Inventario</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
  </div>
  <form (ngSubmit)="saveInventory()" [formGroup]="InventoryListForm">
    <div class="modal-body row">
      <div class="mb-3 col-md-6">
        <label for="customername-field" class="form-label">Sucursal</label>
        <select class="form-control  multipleSelection" data-trigger name="invent" id="payment-field" formControlName="sucursal">
         
          <option value={{item.id}} *ngFor="let item of locations">{{item.sucursal}}</option>   
      </select>
        <div *ngIf="submitted && form['sucursal'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['sucursal'].errors['required']">Nombre es requerid</div>
        </div>
      </div>


      <div class="mb-3 col-md-6">
        <label for="customername-field" class="form-label">Codigo</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="ItemCode"
          [ngClass]="{ 'is-invalid': submitted && form['contactName'].errors }" />
        <div *ngIf="submitted && form['contactName'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactName'].errors['required']">Nombre de Contacto es requerida</div>
        </div>
      </div>

      <div class="mb-3 col-md-6" >
        <label for="customername-field" class="form-label">Serial</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="Serial"
          [ngClass]="{ 'is-invalid': submitted && form['contactNumber'].errors }" />
        <div *ngIf="submitted && form['contactNumber'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactNumber'].errors['required']">Numero de Contacto es requerida</div>
        </div>
      </div>

      <div class="mb-3 col-md-6" >
        <label for="customername-field" class="form-label">Ubicacion Interna</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="UbicacionInterna"
          [ngClass]="{ 'is-invalid': submitted && form['contactNumber'].errors }" />
        <div *ngIf="submitted && form['contactNumber'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactNumber'].errors['required']">Numero de Contacto es requerida</div>
        </div>
      </div>

      <div class="mb-3 col-md-6" >
        <label for="customername-field" class="form-label">Capacidad</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="Capacidad"
          [ngClass]="{ 'is-invalid': submitted && form['contactNumber'].errors }" />
        <div *ngIf="submitted && form['contactNumber'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactNumber'].errors['required']">Numero de Contacto es requerida</div>
        </div>
      </div>

      <div class="mb-3 col-md-6" >
        <label for="customername-field" class="form-label">Marca</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="Marca"
          [ngClass]="{ 'is-invalid': submitted && form['contactNumber'].errors }" />
        <div *ngIf="submitted && form['contactNumber'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactNumber'].errors['required']">Numero de Contacto es requerida</div>
        </div>
      </div>

      <div class="mb-3 col-md-6" >
        <label for="customername-field" class="form-label">refrigerante</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="refrigerante"
          [ngClass]="{ 'is-invalid': submitted && form['contactNumber'].errors }" />
        <div *ngIf="submitted && form['contactNumber'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['contactNumber'].errors['required']">Numero de Contacto es requerida</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
          (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-success" (click)="shoModal()" (click)="modalRef?.hide()" id="add-btn">Guardar</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->